---

---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-400 dark:[&>p>strong]:text-blue-200 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      <strong>Desarrollador frontend</strong> con experiencia en soporte técnico
      en empresas como Microsoft y Atos. Me especializo en crear interfaces de usuario
      <strong>eficientes y atractivas.</strong>
    </p>
  </div>
</article>
