---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente.",
    title: "Help Desk Specialist",
    company: "Ribeiro",
    description:
      "Help Desk Specialist, Administrador de Active Directory, Administrador de correo, Homologación de tarjetas de crédito y posnet.",
  },
  {
    date: "Sep 2014 - Jul 2016 · 1 año 11 meses",
    title: "IT Support at Atos for Siemens account LATAM",
    company: "Atos",
    description:
      "Soporte Técnico remoto, 1er nivel a usuarios, Incidencias de Hardware y Software, herramienta de tickets BMC Remedy, Service Now, Net pro2000, Active Directory. ",
  },
  {
    date: "Jul 2010 - Dec 2013 · 3 años 6 meses",
    title: "IT Technician",
    company: "Microsoft",
    description:
      "HST IT Support Team Level 1 & 2. Soporte On site a usuarios, resolución de distintas incidencias de Hardware y Software, contacto con proveedores (Lenovo, Xerox, HP), Manejo de stock de Hardware.",
  },
  {
    date: "Dic 2006 - Jul 2010 · 3 años 8 meses",
    title: "Freelance",
    company: "Freelance",
    description:
      "Técnico Freelance, Instalado de sistemas operativos, armado y reparado de pc, configuración de redes domésticas.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
